/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
   == Images for the Mail primary toolbar.
   == This file is mainly about the general look-and-feel of
   == native-OS-style toolbars at the top of various windows, as well as
   == the specifically about the ones that appear on the 3-pane window and
   == the standalone message window.  The other native-OS-style toolbars
   == (addressbook and compose) are already styled elsewhere.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media (-moz-windows-compositor: 0),
       (-moz-windows-default-theme: 0) {
/* We want a 4px gap between the tabs-toolbar and the mail-toolbar-menubar2
   when the toolbar-menu is displayed. 1px is taken care of by the (light)
   outer shadow of the tab, the remaining 3 is these margins. */
  #mail-toolbar-menubar2:not([autohide="true"]) ~ #tabs-toolbar,
  #mail-toolbar-menubar2[autohide="true"]:not([inactive]) ~ #tabs-toolbar {
    margin-top: 3px;
  }

  #messengerWindow[tabsintitlebar] > #navigation-toolbox:not(:-moz-lwtheme) {
    color: CaptionText;
  }

  #messengerWindow[tabsintitlebar] > #navigation-toolbox:not(:-moz-lwtheme):-moz-window-inactive {
    color: InactiveCaptionText;
  }
}

#navigation-toolbox,
#mail-toolbar-menubar2 {
  -moz-appearance: none;
}

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #menubar-items > #mail-menubar > menu {
    -moz-appearance: none;
    border-style: none;
  }

  #menubar-items > #mail-menubar > menu[_moz-menuactive="true"] {
    background-color: hsla(0, 0%, 0%, .12);
  }

  #menubar-items > #mail-menubar >
    menu:-moz-lwtheme-brighttext[_moz-menuactive="true"] {
    background-color: hsla(0, 0%, 100%, .12);
  }
}

/**
 * In the classic themes, the titlebar has a horizontal gradient, which is
 * problematic for reading the text of background tabs when they're in the
 * titlebar. We side-step this issue by layering our own background underneath
 * the tabs. Unfortunately, this requires a bunch of positioning in order to
 * get text and icons to not appear fuzzy.
 */
@media (-moz-windows-classic) {
  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  #tabmail-tabs:not(:-moz-lwtheme) {
    position: relative;
    z-index: 2;
  }

  #messengerWindow[tabsintitlebar] #tabs-toolbar:not(:-moz-lwtheme) {
    position: relative;
  }

  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  #tabs-toolbar:not(:-moz-lwtheme)::after {
    /* Because we use placeholders for window controls etc. in the tabstrip,
     * and position those with ordinal attributes, and because our layout code
     * expects :before/:after nodes to come first/last in the frame list,
     * we have to reorder this element to come last, hence the
     * ordinal group value (see bug 853415). */
    -moz-box-ordinal-group: 1001;
    box-shadow: 0 0 50px 8px ActiveCaption;
    content: "";
    display: -moz-box;
    height: 0;
    margin: 0 50px;
    position: absolute;
    pointer-events: none;
    top: 100%;
    width: -moz-available;
  }

  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  #tabs-toolbar:not(:-moz-lwtheme):-moz-window-inactive::after {
    box-shadow: 0 0 50px 8px InactiveCaption;
  }

  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  #tabmail-container:not(:-moz-lwtheme) {
    position: relative;
    z-index: 2;
  }

  /**
   * With the tabbrowser-tabs element z-index'd above the nav-bar, we now get the
   * scrollbox button borders leaking over the nav-bar highlight. This transparent bottom
   * border forces the scrollbox button borders to terminate a pixel early, working
   * around the issue.
   */
  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  .tabmail-arrowscrollbox > .scrollbutton-up:not(:-moz-lwtheme),
  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  .tabmail-arrowscrollbox > .scrollbutton-down-stack >
  .scrollbutton-down:not(:-moz-lwtheme) {
    border-bottom: 1px solid transparent;
  }

  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  .mail-toolbox:not(:-moz-lwtheme),
  #messengerWindow[tabsintitlebar]:not([sizemode=fullscreen])
  .contentTabToolbox:not(:-moz-lwtheme) {
    box-shadow: none;
  }

  #messengerWindow[tabsintitlebar][sizemode="normal"]
  #titlebar-content:-moz-lwtheme {
    /* Render a window top border: */
    background-image: linear-gradient(to bottom, ThreeDLightShadow 0,
                                      ThreeDLightShadow 1px, ThreeDHighlight 1px,
                                      ThreeDHighlight 2px, ActiveBorder 2px,
                                      ActiveBorder 4px, transparent 4px);
  }

  /* End classic titlebar gradient */

  #messengerWindow[tabsintitlebar]:not([inFullscreen])
  :-moz-any(#tabs-toolbar, #mail-toolbar-menubar2)
  toolbarbutton:not(:-moz-lwtheme) {
    color: inherit;
  }
}

.mail-toolbox,
.contentTabToolbox {
  -moz-appearance: none;
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage);
  box-shadow: 0 1px 0 rgba(253, 253, 253, 0.45) inset;
}

.mail-toolbox:-moz-lwtheme,
.contentTabToolbox:-moz-lwtheme {
  color: var(--toolbar-color, inherit);
  box-shadow: none;
}

.mail-toolbox::after,
.contentTabToolbox::after {
  content: "";
  display: -moz-box;
  height: 1px;
  border-bottom: 1px solid var(--toolbox-border-bottom-color);
}

.mail-toolbox > toolbar:-moz-lwtheme,
.contentTabToolbox > toolbar:-moz-lwtheme {
  border-top: none;
}

.button-appmenu .toolbarbutton-text,
.button-appmenu .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbar[mode="text"] .button-appmenu .toolbarbutton-icon {
  display: -moz-box;
}

#folderPane-toolbar #locationFolders,
#folderPane-toolbar > #folder-location-container,
#folderPane-toolbar > #folderpane-mode-selector {
  -moz-box-flex: 1;
}

#folderPane-toolbar > .toolbarbutton-1,
#folderPane-toolbar > toolbaritem > menulist {
  margin: 0;
}

#folderPane-toolbar > :-moz-any(*) + :-moz-any(*) {
  margin-inline-start: 2px;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #folderpane-mode-selector,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBar {
  background-color: InfoBackground;
  color: InfoText;
  border-bottom: 1px solid ThreeDDarkShadow;
  padding: 3px;
}

.msgNotificationBarText {
  font-weight: bold;
}

.msgNotificaton-smallText {
  padding-inline-start: 10px;
  font-size: 90%;
}

/* AppMenu styling */

.splitmenu-menuitem {
  -moz-appearance: menuitem;
  -moz-box-align: center;
  color: MenuText;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
  margin-inline-end: 1px;
}

.splitmenu-menuitem[disabled="true"],
.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"] {
  color: GrayText;
  text-shadow: none;
}

@media (-moz-windows-classic) {
  .splitmenu-menuitem[disabled="true"] {
    color: ThreeDShadow;
    text-shadow: 1px 1px ThreeDHighlight;
  }
}

.splitmenu-menuitem[iconic="true"] > .menu-iconic-left {
  -moz-appearance: menuimage;
  padding-top: 2px;
}

.splitmenu-menuitem[_moz-menuactive="true"] {
  background-color: -moz-menuhover;
  color: -moz-menuhovertext;
}

.splitmenu-menu {
  -moz-box-pack: end;
}

.appmenu-edit-button {
  -moz-appearance: none;
  border: 1px solid transparent;
  padding: 2px;
  background: transparent;
  border-radius: 3px;
}

.appmenu-edit-button[disabled="true"] {
  opacity: .3;
}

#appmenuPrimaryPane {
  border-inline-end: 1px solid ThreeDShadow;
}

@media (-moz-windows-default-theme) {
  #appmenu-popup {
    -moz-appearance: none;
    background: -moz-Field;
    border: 1px solid ThreeDShadow;
  }
  #appmenuPrimaryPane {
    background-color: rgba(255, 255, 255, .5);
    padding: 2px;
    border-inline-end: none;
  }
  #appmenuSecondaryPane {
    background-color: var(--appMenu-bg-color);
    box-shadow: 1px 0 2px var(--appMenu-bg-box-shadow) inset;
    padding-inline-start: 3px;
    padding-inline-end: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
  }
  #appmenuSecondaryPane:-moz-locale-dir(rtl) {
    box-shadow: -1px 0 2px var(--appMenu-bg-box-shadow) inset;
  }

  .appmenu-menuseparator {
    -moz-appearance: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    border-top: 1px solid #d6e5f5;
    border-bottom: none;
  }

  .appmenu-edit-button:not([disabled]):hover {
    border: 1px solid #b8d6fb;
    box-shadow: inset 0 0 1px white;
    background: linear-gradient(#fafbfd, #ebf3fd);
    transition: .2s ease-in;
  }
}

.appmenuPane-spacer {
  min-height: 1em;
}

#appmenu-editmenu {
  -moz-box-pack: end;
}

#appmenu_openHelp,
#appmenu_print_popup,
.appmenu-edit-button,
#appmenu-editmenu-cut,
#appmenu-editmenu-copy,
#appmenu-editmenu-paste,
#appmenu_addons,
#appmenu-quit {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#appmenu-cut,
#appmenu-editmenu-cut {
  list-style-image: url("chrome://messenger/skin/icons/cut.svg");
}

#appmenu-copy,
#appmenu-editmenu-copy {
  list-style-image: url("chrome://messenger/skin/icons/copy.svg");
}

#appmenu-paste,
#appmenu-editmenu-paste {
  list-style-image: url("chrome://messenger/skin/icons/paste.svg");
}

#appmenu_print_popup {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#appmenu-quit {
  list-style-image: url("chrome://messenger/skin/icons/quit.svg");
}

#appmenu_openHelp {
  list-style-image: url(chrome://global/skin/icons/help.svg);
}

#appmenu-edit-label {
  -moz-appearance: none;
  background: transparent;
  font-style: italic;
}

#appmenu_addons {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.svg");
}

.mail-toolbox > toolbar {
  margin-inline-start: 0;
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

.mail-toolbox > toolbar:not([type="menubar"]) {
  padding: 1px;
}

.chromeclass-toolbar {
  /* Toolbar buttons have a margin of 3px; adjust the toolbar so the leftmost
     button lines up with the rest of the window. */
  margin-inline-start: -3px;
}

/* ::::: toolbar buttons on tabbar toolbar ::::: */

#alltabs-button,
#tabbar-toolbar menulist,
#tabbar-toolbar .toolbarbutton-1,
#tabbar-toolbar .toolbarbutton-1[type="menu-button"] {
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (-moz-windows-glass: 0) {
  #tabbar-toolbar .toolbarbutton-1,
  #tabbar-toolbar .toolbarbutton-menubutton-button {
    padding-inline-start: 4px !important;
    padding-inline-end: 4px !important;
  }
}

@media (-moz-windows-glass) {
  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-1,
  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-menubutton-button,
  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-menubutton-dropmarker {
    margin: 0;
    padding: 0 3px !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-1 >
    .toolbarbutton-menubutton-dropmarker::before {
    display: none;
  }

  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-1:not([disabled]):hover,
  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-1:not([disabled])[checked="true"],
  #tabbar-toolbar:not(:-moz-lwtheme) toolbarbutton[type="menu-button"]:hover >
                  .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) {
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
                      rgba(255, 255, 255, .5)),
                      linear-gradient(transparent, rgba(0, 0, 0, .25) 30%),
                      linear-gradient(transparent, rgba(0, 0, 0, .25) 30%);
    background-position: 1px -1px, 0 -1px, 100% -1px;
    background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100%;
    background-repeat: no-repeat;
  }

  #tabbar-toolbar:not(:-moz-lwtheme) .toolbarbutton-menubutton-button:not([disabled]):hover {
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
                      rgba(255, 255, 255, .5)),
                      linear-gradient(transparent, rgba(0, 0, 0, .25) 30%);
    background-position: 1px -1px, 0 -1px;
    background-size: calc(100% - 1px) 100%, 1px 100%;
    background-repeat: no-repeat;
  }

  #tabbar-toolbar
    .toolbarbutton-menubutton-button:not([disabled]):hover:-moz-locale-dir(rtl) {
    background-position: 1px -1px, 100% -1px;
  }
}

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/getmsg.svg");
}

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/reply.svg");
}

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/replyall.svg");
}

#button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/replylist.svg");
}

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/forward.svg");
}

.delete-button {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

.junk-button {
  list-style-image: url("chrome://messenger/skin/icons/junk.svg");
}

#button-print {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#button-stop {
  list-style-image: url("chrome://messenger/skin/icons/stop.svg");
}

#button-file {
  list-style-image: url("chrome://messenger/skin/icons/file.svg");
}

#button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/nextunread.svg");
}

#button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/previousunread.svg");
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mark.svg");
}

#button-tag {
  list-style-image: url("chrome://messenger/skin/icons/tag.svg");
}

#button-goback {
  list-style-image: url("chrome://messenger/skin/icons/goback.svg");
}

#button-goforward {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg");
}

#button-compact {
  list-style-image: url("chrome://messenger/skin/icons/compact.svg");
}

#button-archive {
  list-style-image: url("chrome://messenger/skin/icons/archive.svg");
}

#button-chat {
  -moz-context-properties: fill, fill-opacity, stroke-opacity;
  stroke-opacity: 0;
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
}

#button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/nextmsg.svg");
}

#button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/previousmsg.svg");
}

#qfb-show-filter-bar {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
}

#button-showconversation {
  list-style-image: url("chrome://messenger/skin/icons/conversation.svg");
}

.button-appmenu {
  list-style-image: url("chrome://messenger/skin/icons/appbutton.svg");
  min-width: 35px !important;
  margin-right: 3px;
  margin-left: 3px;
}

#button-chat[unreadMessages="true"] {
  fill: var(--toolbarbutton-icon-fill-attention);
  stroke-opacity: 0.5;
}

#button-newMsgPopup .menuitem-iconic {
  fill: currentColor;
}

toolbar:not([mode="text"]) > #button-chat > stack,
toolbar:not([mode="text"]) > toolbarpaletteitem > #button-chat > stack {
  margin: 1px;
}

#palette-box .toolbarbutton-1,
#palette-box .toolbarbutton-menubutton-button,
#palette-box .toolbarbutton-menubutton-dropmarker {
  border: none;
  background: none;
  box-shadow: none;
}

/* remove the small icons checkbox in Customize window */
#smallicons {
  display: none;
}

/* AppMenu styling */

.splitmenu-menuitem {
  padding-inline-end: 0.5em;
}

@media (-moz-windows-compositor: 0) {
  #mail-toolbar-menubar2 {
    background-color: transparent !important
  }

  #messengerWindow[tabsintitlebar] #titlebar:-moz-lwtheme {
    visibility: hidden;
  }

  #messengerWindow[tabsintitlebar] #titlebar-content:-moz-lwtheme {
    visibility: visible;
    -moz-window-dragging: drag;
  }

  #print-preview-toolbar:not(:-moz-lwtheme) {
    -moz-appearance: -moz-win-browsertabbar-toolbox;
  }

  @media (-moz-windows-default-theme) {
    #messengerWindow {
      background-color: rgb(185, 209, 234);
    }
    #messengerWindow:-moz-window-inactive {
      background-color: rgb(215, 228, 242);
    }

    #mail-toolbar-menubar2:not([autohide=true]):not(:-moz-lwtheme),
    #tabs-toolbar:not(:-moz-lwtheme) {
      background-color: transparent;
    }
    #mail-toolbar-menubar2[autohide=true] {
      background-color: transparent !important;
    }

    /* Render a window top border for lwthemes: */
    #messengerWindow[tabsintitlebar][sizemode="normal"]
    #titlebar-content:-moz-lwtheme {
      background-image: linear-gradient(to bottom, rgb(37, 44, 51) 0,
                                        rgb(37, 44, 51) 1px,
                                        rgba(255,255,255,.6) 1px,
                                        rgba(255,255,255,.6) 2px, transparent 2px);
    }

    #messengerWindow[tabsintitlebar][sizemode="normal"]
    #titlebar-content:-moz-lwtheme:-moz-window-inactive {
      background-image: linear-gradient(to bottom, rgb(102, 102, 102) 0,
                                        rgb(102, 102, 102) 1px,
                                        rgba(255,255,255,.6) 1px,
                                        rgba(255,255,255,.6) 2px, transparent 2px);
    }
  }
}

@media (-moz-windows-default-theme) {
  #appmenuSecondaryPane menupopup {
    -moz-appearance: none;
    background-color: var(--appMenu-bg-color);
    border: 1px solid ThreeDShadow;
    padding: 2px;
  }

  .appmenu-menuseparator {
    margin-inline-start: 30px;
  }

  /* Let the Customize window's menulist stay a system menulist */
  #modelist {
    -moz-appearance: menulist;
    margin: 2px 4px;
    padding: 0 !important;
  }

  #appmenuPrimaryPane menupopup {
    -moz-appearance: none;
    background-image: linear-gradient(to right, white 26px, ThreeDLightShadow 26px,
                                      ThreeDLightShadow 27px, ThreeDHighlight 27px,
                                      ThreeDHighlight 28px, white 28px);
    border: 1px solid ThreeDShadow;
    padding: 2px;
  }

  #appmenuSecondaryPane menupopup {
    -moz-appearance: none;
    background-image: linear-gradient(to right, var(--appMenu-bg-color) 26px,
                                      ThreeDLightShadow 26px, ThreeDLightShadow 27px,
                                      ThreeDHighlight 27px, ThreeDHighlight 28px,
                                      var(--appMenu-bg-color) 28px);
    border: 1px solid ThreeDShadow;
    padding: 2px;
  }

  #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
    background-image: linear-gradient(to left, white 26px, ThreeDLightShadow 26px,
                                      ThreeDLightShadow 27px, ThreeDHighlight 27px,
                                      ThreeDHighlight 28px, white 28px);
  }
  #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
    background-image: linear-gradient(to left, var(--appMenu-bg-color) 26px,
                                      ThreeDLightShadow 26px, ThreeDLightShadow 27px,
                                      ThreeDHighlight 27px, ThreeDHighlight 28px,
                                      var(--appMenu-bg-color) 28px);
  }

  /* Hi-DPI overrides of the menu backgrounds, to adjust where the gutter line falls */
  @media (min-resolution: 1.25dppx) {
    #appmenuPrimaryPane menupopup {
      background-image: linear-gradient(to right, white 22.4px, ThreeDLightShadow 22.4px,
                                        ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
                                        ThreeDHighlight 24px, white 24px);
    }
    #appmenuSecondaryPane menupopup {
      background-image: linear-gradient(to right, var(--appMenu-bg-color) 22.4px,
                                        ThreeDLightShadow 22.4px, ThreeDLightShadow 23.2px,
                                        ThreeDHighlight 23.2px, ThreeDHighlight 24px,
                                        var(--appMenu-bg-color) 24px);
    }
    #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, white 22.4px, ThreeDLightShadow 22.4px,
                                        ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
                                        ThreeDHighlight 24px, white 24px);
    }
    #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, var(--appMenu-bg-color) 22.4px,
                                        ThreeDLightShadow 22.4px, ThreeDLightShadow 23.2px,
                                        ThreeDHighlight 23.2px, ThreeDHighlight 24px,
                                        var(--appMenu-bg-color) 24px);
    }
  }

  @media (min-resolution: 1.5dppx) {
    #appmenuPrimaryPane menupopup {
      background-image: linear-gradient(to right, white 20.6667px, ThreeDLightShadow 20.6667px,
                                        ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
                                        ThreeDHighlight 22px, white 22px);
    }
    #appmenuSecondaryPane menupopup {
      background-image: linear-gradient(to right, var(--appMenu-bg-color) 20.6667px,
                                        ThreeDLightShadow 20.6667px, ThreeDLightShadow 21.3333px,
                                        ThreeDHighlight 21.3333px, ThreeDHighlight 22px,
                                        var(--appMenu-bg-color) 22px);
    }
    #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, white 20.6667px, ThreeDLightShadow 20.6667px,
                                        ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
                                        ThreeDHighlight 22px, white 22px);
    }
    #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, var(--appMenu-bg-color) 20.6667px,
                                        ThreeDLightShadow 20.6667px, ThreeDLightShadow 21.3333px,
                                        ThreeDHighlight 21.3333px, ThreeDHighlight 22px,
                                        var(--appMenu-bg-color) 22px);
    }
  }

  @media (min-resolution: 2dppx) {
    #appmenuPrimaryPane menupopup {
      background-image: linear-gradient(to right, white 19.5px, ThreeDLightShadow 19.5px,
                                        ThreeDLightShadow 20px, ThreeDHighlight 20px,
                                        ThreeDHighlight 20.5px, white 20.5px);
    }
    #appmenuSecondaryPane menupopup {
      background-image: linear-gradient(to right, var(--appMenu-bg-color) 19.5px,
                                        ThreeDLightShadow 19.5px, ThreeDLightShadow 20px,
                                        ThreeDHighlight 20px, ThreeDHighlight 20.5px,
                                        var(--appMenu-bg-color) 20.5px);
    }
    #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, white 19.5px, ThreeDLightShadow 19.5px,
                                        ThreeDLightShadow 20px, ThreeDHighlight 20px,
                                        ThreeDHighlight 20.5px, white 20.5px);
    }
    #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, var(--appMenu-bg-color) 19.5px,
                                        ThreeDLightShadow 19.5px, ThreeDLightShadow 20px,
                                        ThreeDHighlight 20px, ThreeDHighlight 20.5px,
                                        var(--appMenu-bg-color) 20.5px);
    }
  }

  @media (min-resolution: 1.25dppx) {
    .appmenu-menuseparator {
      margin-inline-start: 25px;
    }
  }
  @media (min-resolution: 1.5dppx) {
    .appmenu-menuseparator {
      margin-inline-start: 24px;
    }
  }
  @media (min-resolution: 2dppx) {
    .appmenu-menuseparator {
      margin-inline-start: 22px;
    }
  }
}

@media (-moz-windows-default-theme: 0) {
  #messengerWindow[tabsintitlebar] #mail-menubar > menu {
    -moz-appearance: none;
    color: inherit;
  }
}

@media (-moz-windows-compositor) and (-moz-windows-default-theme) {
  #navigation-toolbox:not(:-moz-lwtheme),
  #tabs-toolbar {
    background-color: transparent;
  }

  #mail-toolbox:not(:-moz-lwtheme),
  .glodaTabToolbar {
    color: black;
  }

  #mail-menubar > menu:not(:-moz-lwtheme) {
    color: inherit;
  }

  /* Use a different color only on Windows 8 and higher for inactive windows.
   * On Win 7, the menubar fog disappears for inactive windows, and renders gray
   * illegible.
   */
  @media not all and (-moz-os-version: windows-win7) {
    #mail-toolbar-menubar2:not(:-moz-lwtheme):-moz-window-inactive {
      color: ThreeDShadow;
    }
  }
}

@media (-moz-windows-glass) {
  .mail-toolbox:not(:-moz-lwtheme)::after,
  .contentTabToolbox:not(:-moz-lwtheme)::after {
    --toolbox-border-bottom-color: #aabccf;
  }

  #tabs-toolbar {
    -moz-box-ordinal-group: 10;
  }

  #mail-toolbar-menubar2 {
    -moz-box-ordinal-group: 20;
    -moz-window-dragging: no-drag;
    box-shadow: 0 1px 0 rgba(253, 253, 253, 0.45) inset;
    background-image: var(--toolbar-bgimage);
    background-color: var(--toolbar-bgcolor);
    padding-bottom: 1px !important;
    padding-top: 2px;
  }

  #mail-toolbar-menubar2:-moz-lwtheme {
    background-color: var(--toolbar-bgcolor);
    color: var(--toolbar-color, inherit);
    box-shadow: none;
  }

  #navigation-toolbox > #mail-toolbar-menubar2:not(:-moz-lwtheme) {
    -moz-appearance: none;
    border-bottom: 1px solid #aabccf;
  }

  #tabs-toolbar:not(:-moz-lwtheme) {
    position: relative;
  }

  #tabs-toolbar:not(:-moz-lwtheme)::before {
    box-shadow: 0 0 30px 30px rgba(174, 189, 204, 0.85);
    content: "";
    display: -moz-box;
    height: 0;
    margin: 0 60px; /* (30px + 30px) from box-shadow */
    position: absolute;
    pointer-events: none;
    top: 50%;
    width: -moz-available;
    z-index: -1;
  }
}

@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme) {
  #appmenuSecondaryPane {
    --appMenu-bg-color: #f1f5fb;
    --appMenu-bg-box-shadow: rgb(204, 214, 234);
  }
}

@media (-moz-os-version: windows-win8) {
  @media (-moz-windows-default-theme) {
    #messengerWindow[darkwindowframe="true"]:not(:-moz-lwtheme):not(:-moz-window-inactive) >
      #navigation-toolbox {
      color: white;
    }
  }
  @media (-moz-windows-default-theme: 0) {
    #messengerWindow > #navigation-toolbox:not(:-moz-lwtheme) {
      color: CaptionText;
    }

    #messengerWindow > #navigation-toolbox:not(:-moz-lwtheme):-moz-window-inactive {
      color: InactiveCaptionText;
    }
  }
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  #appmenuSecondaryPane {
    --appMenu-bg-color: -moz-dialog;
    --appMenu-bg-box-shadow: ThreeDShadow;
  }

  .mail-toolbox,
  .contentTabToolbox {
    box-shadow: none;
  }

  #mail-toolbar-menubar2 {
    box-shadow: none;
  }

  @media (-moz-windows-default-theme: 0) {
    #messengerWindow:not([tabsintitlebar]) #mail-menubar >
      menu:not(:-moz-lwtheme) {
      color: inherit;
    }

    #messengerWindow:not([tabsintitlebar]) #mail-menubar > menu {
      -moz-appearance: none;
    }
  }
}

@media (-moz-os-version: windows-win8) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #navigation-toolbox > #mail-toolbar-menubar2 {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0 !important;
  }

  .mail-toolbox:not(:-moz-lwtheme)::after,
  .contentTabToolbox:not(:-moz-lwtheme)::after {
    --toolbox-border-bottom-color: #c2c2c2;
  }
}
