/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Content specific styles for Messenger.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --lwt-additional-images: none;
  --lwt-background-alignment: right top;
  --lwt-background-tiling: no-repeat;
}

/* message header widgets */

mail-messageid {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-messageid");
}

mail-messageids-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-messageids-headerfield");
}

mail-emailaddress {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-emailaddress");
}

.emailDisplayButton {
  -moz-user-focus: normal;
}

.emailStar {
  -moz-user-focus: normal;
}

.emailPopup {
  -moz-user-focus: normal;
}

mail-emailheaderfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-emailheaderfield");
}

mail-toggle-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-toggle-headerfield");
}

mail-multi-emailHeaderField {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-multi-emailHeaderField");
}

mail-newsgroup {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-newsgroup");
}

mail-newsgroups-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-newsgroups-headerfield");
}

mail-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-headerfield");
}

mail-urlfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-urlfield");
}

mail-tagfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-headerfield-tags");
}

mail-tagfield[collapsed="true"] {
  display: none;
}

#searchTermList > listitem {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#listitem");
}

searchattribute {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchattribute");
}

searchoperator {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchoperator");
}

searchvalue {
  display: -moz-deck;
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchvalue");
}

searchterm {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchterm");
}

.ruleaction {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleaction");
}

.ruleactiontype {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontype-menulist");
}

.ruleactiontarget[type] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-base");
}

.ruleactiontarget[type="movemessage"], .ruleactiontarget[type="copymessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder");
}

.ruleactiontarget[type="addtagtomessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-tag");
}

.ruleactiontarget[type="setpriorityto"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-priority");
}

.ruleactiontarget[type="setjunkscore"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-junkscore");
}

.ruleactiontarget[type="forwardmessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-forwardto");
}

.ruleactiontarget[type="replytomessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto");
}

dummy.usesMailWidgets {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#dummy");
}

#searchInput {
  -moz-binding: url("chrome://messenger/content/search.xml#glodaSearch");
}

.remote-gloda-search {
  -moz-binding: url("chrome://messenger/content/search.xml#glodaSearch") !important;
}

.remote-gloda-search-container {
  min-width: 10em;
}

.quick-search-button {
  -moz-binding: url("chrome://messenger/content/search.xml#searchBarDropMarker");
  cursor: default;
  -moz-user-focus: none;
}

.quick-search-clearbutton{
  cursor: default;
  -moz-user-focus: none;
}

.folderSummaryPopup
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary-popup");
}

folderSummary
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary");
}

folderSummaryMessage
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary-message");
}

folderSummaryLocation
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary-location");
}

folderSummarySubfoldersSummary
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary-subfoldersSummary");
}

tabmail {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail");
}

menupopup[type="folder"] {
  -moz-binding: url("chrome://messenger/content/folderWidgets.xml#folder-menupopup");
}

.addrbooksPopup {
  -moz-binding: url("chrome://messenger/content/addressbook/addrbookWidgets.xml#addrbooks-menupopup");
}

.map-list {
  -moz-binding: url("chrome://messenger/content/addressbook/addrbookWidgets.xml#map-list");
}

/* Lightweight themes support */

:root:-moz-lwtheme {
  color: var(--lwt-text-color) !important;
  background-color: var(--lwt-accent-color) !important;
}

:root:-moz-lwtheme[lwtheme-image] {
  background-image: var(--lwt-header-image) !important;
  background-repeat: no-repeat;
  background-position: right top !important;
}

:root:-moz-lwtheme:-moz-window-inactive {
  background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color)) !important;
}

/* Add a box to draw additional background images. */
#LW-background-box {
  display: none;
}

#LW-background-box:-moz-lwtheme {
  display: -moz-box;
  height: 60px;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: -moz-available;
}

/* Set position: relative to let the LW-background-box be behind. */
#tabmail-container {
  position: relative;
}

/* Set additional backgrounds alignment relative to toolbox.
   This rule needs to be in content to avoid CSP issues. */
#LW-background-box:-moz-lwtheme,
#status-bar:-moz-lwtheme,
#ab-toolbox:-moz-lwtheme,
#compose-toolbox:-moz-lwtheme {
  background-image: var(--lwt-additional-images);
  background-position: var(--lwt-background-alignment);
  background-repeat: var(--lwt-background-tiling);
}

:root[lwthemefooter="true"] #status-bar:-moz-lwtheme {
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: var(--lwt-accent-color);
  background-image: var(--lwt-footer-image);
}

/* AppButton support */

splitmenu {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#splitmenu");
}

.splitmenu-menuitem {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem");
  list-style-image: inherit;
  -moz-image-region: inherit;
}

.splitmenu-menuitem[iconic="true"] {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

.splitmenu-menu > .menu-text,
:-moz-any(.splitmenu-menu, .splitmenu-menuitem) > .menu-accel-container,
#appmenu-editmenu > .menu-text,
#appmenu-editmenu > .menu-accel-container {
  display: none;
}

#titlebar {
  -moz-window-dragging: drag;
}

#messengerWindow:not([chromemargin]) > #titlebar {
  display: none;
}

#titlebar-spacer {
  pointer-events: none;
}

.button-appmenu {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#appmenu-vertical") !important;
}

/* Preferences */

preftab,
preftab:root /* override :root */ {
  -moz-binding: url("chrome://messenger/content/preferences/aboutPreferences.xml#preftab");
  -moz-box-orient: vertical;
}

/* WebExtensions icon-variables */

:root[lwthemeicons~="--getmsg-icon"] #button-getmsg:-moz-lwtheme {
  list-style-image: var(--getmsg-icon) !important;
}

:root[lwthemeicons~="--newmsg-icon"] #button-newmsg:-moz-lwtheme,
:root[lwthemeicons~="--newmsg-icon"] #button-newmessage:-moz-lwtheme {
  list-style-image: var(--newmsg-icon) !important;
}

:root[lwthemeicons~="--address-icon"] #button-address:-moz-lwtheme,
:root[lwthemeicons~="--address-icon"] #button-contacts:-moz-lwtheme {
  list-style-image: var(--address-icon) !important;
}

:root[lwthemeicons~="--reply-icon"] #button-reply:-moz-lwtheme,
:root[lwthemeicons~="--reply-icon"] #hdrReplyButton:-moz-lwtheme,
:root[lwthemeicons~="--reply-icon"] #hdrReplyToSenderButton:-moz-lwtheme {
  list-style-image: var(--reply-icon) !important;
}

:root[lwthemeicons~="--replyall-icon"] #button-replyall:-moz-lwtheme,
:root[lwthemeicons~="--replyall-icon"] #hdrReplyAllButton:-moz-lwtheme {
  list-style-image: var(--replyall-icon) !important;
}

:root[lwthemeicons~="--replylist-icon"] #button-replylist:-moz-lwtheme,
:root[lwthemeicons~="--replylist-icon"] #hdrFollowupButton:-moz-lwtheme,
:root[lwthemeicons~="--replylist-icon"] #hdrReplyListButton:-moz-lwtheme {
  list-style-image: var(--replylist-icon) !important;
}

:root[lwthemeicons~="--forwarding-icon"] #button-forward:-moz-lwtheme,
:root[lwthemeicons~="--forwarding-icon"] .hdrForwardButton:-moz-lwtheme {
  list-style-image: var(--forwarding-icon) !important;
}

:root[lwthemeicons~="--delete-icon"] .delete-button:-moz-lwtheme,
:root[lwthemeicons~="--delete-icon"] #button-delete:-moz-lwtheme,
:root[lwthemeicons~="--delete-icon"] #hdrTrashButton:-moz-lwtheme,
:root[lwthemeicons~="--delete-icon"] #button-abdelete:-moz-lwtheme,
:root[lwthemeicons~="--delete-icon"] #calendar-delete-button:-moz-lwtheme,
:root[lwthemeicons~="--delete-icon"] #task-delete-button:-moz-lwtheme,
:root[lwthemeicons~="--delete-icon"] #calendar-delete-task-button:-moz-lwtheme {
  list-style-image: var(--delete-icon) !important;
}

:root[lwthemeicons~="--junk-icon"] .junk-button:-moz-lwtheme,
:root[lwthemeicons~="--junk-icon"] #hdrJunkButton:-moz-lwtheme {
  list-style-image: var(--junk-icon) !important;
}

:root[lwthemeicons~="--print-icon"] #button-print:-moz-lwtheme,
:root[lwthemeicons~="--print-icon"] #calendar-print-button:-moz-lwtheme,
:root[lwthemeicons~="--print-icon"] #task-print-button:-moz-lwtheme {
  list-style-image: var(--print-icon) !important;
}

:root[lwthemeicons~="--stop-icon"] #button-stop:-moz-lwtheme {
  list-style-image: var(--stop-icon) !important;
}

:root[lwthemeicons~="--file-icon"] #button-file:-moz-lwtheme {
  list-style-image: var(--file-icon) !important;
}

:root[lwthemeicons~="--nextUnread-icon"] #button-nextUnread:-moz-lwtheme {
  list-style-image: var(--nextUnread-icon) !important;
}

:root[lwthemeicons~="--prevUnread-icon"] #button-previousUnread:-moz-lwtheme {
  list-style-image: var(--prevUnread-icon) !important;
}

:root[lwthemeicons~="--mark-icon"] #button-mark:-moz-lwtheme {
  list-style-image: var(--mark-icon) !important;
}

:root[lwthemeicons~="--tag-icon"] #button-tag:-moz-lwtheme,
:root[lwthemeicons~="--tag-icon"] #hdrTagButton:-moz-lwtheme {
  list-style-image: var(--tag-icon) !important;
}

:root[lwthemeicons~="--back-icon"] #button-goback:-moz-lwtheme {
  list-style-image: var(--back-icon) !important;
}

:root[lwthemeicons~="--forward-icon"] #button-goforward:-moz-lwtheme {
  list-style-image: var(--forward-icon) !important;
}

:root[lwthemeicons~="--compact-icon"] #button-compact:-moz-lwtheme {
  list-style-image: var(--compact-icon) !important;
}

:root[lwthemeicons~="--archive-icon"] #button-archive:-moz-lwtheme,
:root[lwthemeicons~="--archive-icon"] #hdrArchiveButton:-moz-lwtheme {
  list-style-image: var(--archive-icon) !important;
}

:root[lwthemeicons~="--chat-icon"] #button-chat:-moz-lwtheme {
  list-style-image: var(--chat-icon) !important;
}

:root[lwthemeicons~="--nextMsg-icon"] #button-nextMsg:-moz-lwtheme {
  list-style-image: var(--nextMsg-icon) !important;
}

:root[lwthemeicons~="--prevMsg-icon"] #button-previousMsg:-moz-lwtheme {
  list-style-image: var(--prevMsg-icon) !important;
}

:root[lwthemeicons~="--QFB-icon"] #qfb-show-filter-bar:-moz-lwtheme {
  list-style-image: var(--QFB-icon) !important;
}

:root[lwthemeicons~="--conversation-icon"] #button-showconversation:-moz-lwtheme,
:root[lwthemeicons~="--conversation-icon"] #hdrOpenConversationButton:-moz-lwtheme {
  list-style-image: var(--conversation-icon) !important;
}

:root[lwthemeicons~="--conversation-icon"] #button-showconversation:-moz-lwtheme {
  list-style-image: var(--conversation-icon) !important;
}

:root[lwthemeicons~="--app_menu-icon"] .button-appmenu:-moz-lwtheme {
  list-style-image: var(--app_menu-icon) !important;
}

:root[lwthemeicons~="--newcard-icon"] #button-newcard:-moz-lwtheme {
  list-style-image: var(--newcard-icon) !important;
}

:root[lwthemeicons~="--newlist-icon"] #button-newlist:-moz-lwtheme {
  list-style-image: var(--newlist-icon) !important;
}

:root[lwthemeicons~="--editcard-icon"] #button-editcard:-moz-lwtheme {
  list-style-image: var(--editcard-icon) !important;
}

:root[lwthemeicons~="--newim-icon"] #button-newim:-moz-lwtheme {
  list-style-image: var(--newim-icon) !important;
}

:root[lwthemeicons~="--send-icon"] #button-send:-moz-lwtheme {
  list-style-image: var(--send-icon) !important;
}

:root[lwthemeicons~="--spelling-icon"] #spellingButton:-moz-lwtheme {
  list-style-image: var(--spelling-icon) !important;
}

:root[lwthemeicons~="--attach-icon"] #button-url:-moz-lwtheme,
:root[lwthemeicons~="--attach-icon"] #button-attach:-moz-lwtheme {
  list-style-image: var(--attach-icon) !important;
}

:root[lwthemeicons~="--security-icon"] #button-security:-moz-lwtheme {
  list-style-image: var(--security-icon) !important;
}

:root[lwthemeicons~="--save-icon"] #button-save:-moz-lwtheme {
  list-style-image: var(--save-icon) !important;
}

:root[lwthemeicons~="--quote-icon"] #quoteButton:-moz-lwtheme {
  list-style-image: var(--quote-icon) !important;
}

:root[lwthemeicons~="--cut-icon"] #cut-button:-moz-lwtheme {
  list-style-image: var(--cut-icon) !important;
}

:root[lwthemeicons~="--copy-icon"] #copy-button:-moz-lwtheme {
  list-style-image: var(--copy-icon) !important;
}

:root[lwthemeicons~="--paste-icon"] #paste-button:-moz-lwtheme {
  list-style-image: var(--paste-icon) !important;
}

:root[lwthemeicons~="--buddy-icon"] #button-add-buddy:-moz-lwtheme {
  list-style-image: var(--buddy-icon) !important;
}

:root[lwthemeicons~="--join_chat-icon"] #button-join-chat:-moz-lwtheme {
  list-style-image: var(--join_chat-icon) !important;
}

:root[lwthemeicons~="--chat_accounts-icon"] #button-chat-accounts:-moz-lwtheme {
  list-style-image: var(--chat_accounts-icon) !important;
}

:root[lwthemeicons~="--calendar-icon"] #calendar-tab-button:-moz-lwtheme,
:root[lwthemeicons~="--calendar-icon"] #lightning-button-calendar:-moz-lwtheme {
  list-style-image: var(--calendar-icon) !important;
}

:root[lwthemeicons~="--tasks-icon"] #task-tab-button:-moz-lwtheme,
:root[lwthemeicons~="--tasks-icon"] #lightning-button-tasks:-moz-lwtheme {
  list-style-image: var(--tasks-icon) !important;
}

:root[lwthemeicons~="--synchronize-icon"] #calendar-synchronize-button:-moz-lwtheme,
:root[lwthemeicons~="--synchronize-icon"] #task-synchronize-button:-moz-lwtheme {
  list-style-image: var(--synchronize-icon) !important;
}

:root[lwthemeicons~="--newevent-icon"] #extractEventButton:-moz-lwtheme,
:root[lwthemeicons~="--newevent-icon"] #task-newevent-button:-moz-lwtheme,
:root[lwthemeicons~="--newevent-icon"] #hdrExtractEventButton:-moz-lwtheme,
:root[lwthemeicons~="--newevent-icon"] #calendar-newevent-button:-moz-lwtheme,
:root[lwthemeicons~="--newevent-icon"] #todaypane-new-event-button:-moz-lwtheme {
  list-style-image: var(--newevent-icon) !important;
}

:root[lwthemeicons~="--newtask-icon"] #extractTaskButton:-moz-lwtheme,
:root[lwthemeicons~="--newtask-icon"] #task-newtask-button:-moz-lwtheme,
:root[lwthemeicons~="--newtask-icon"] #hdrExtractTaskButton:-moz-lwtheme,
:root[lwthemeicons~="--newtask-icon"] #calendar-newtask-button:-moz-lwtheme,
:root[lwthemeicons~="--newtask-icon"] #calendar-add-task-button:-moz-lwtheme {
  list-style-image: var(--newtask-icon) !important;
}

:root[lwthemeicons~="--editevent-icon"] #calendar-edit-button:-moz-lwtheme,
:root[lwthemeicons~="--editevent-icon"] #task-edit-button:-moz-lwtheme {
  list-style-image: var(--editevent-icon) !important;
}

:root[lwthemeicons~="--today-icon"] #calendar-goto-today-button:-moz-lwtheme {
  list-style-image: var(--today-icon) !important;
}

:root[lwthemeicons~="--find-icon"] #calendar-unifinder-button:-moz-lwtheme {
  list-style-image: var(--find-icon) !important;
}

:root[lwthemeicons~="--category-icon"] #task-actions-category:-moz-lwtheme {
  list-style-image: var(--category-icon) !important;
}

:root[lwthemeicons~="--complete-icon"] #task-actions-markcompleted:-moz-lwtheme {
  list-style-image: var(--complete-icon) !important;
}

:root[lwthemeicons~="--priority-icon"] #button-priority:-moz-lwtheme,
:root[lwthemeicons~="--priority-icon"] #task-actions-priority:-moz-lwtheme {
  list-style-image: var(--priority-icon) !important;
}

:root[lwthemeicons~="--saveandclose-icon"] #button-saveandclose:-moz-lwtheme {
  list-style-image: var(--saveandclose-icon) !important;
}

:root[lwthemeicons~="--attendees-icon"] #button-attendees:-moz-lwtheme {
  list-style-image: var(--attendees-icon) !important;
}

:root[lwthemeicons~="--privacy-icon"] #button-privacy:-moz-lwtheme {
  list-style-image: var(--privacy-icon) !important;
}

:root[lwthemeicons~="--status-icon"] #button-status:-moz-lwtheme {
  list-style-image: var(--status-icon) !important;
}

:root[lwthemeicons~="--freebusy-icon"] #button-freebusy:-moz-lwtheme {
  list-style-image: var(--freebusy-icon) !important;
}

:root[lwthemeicons~="--timezones-icon"] #button-timezones:-moz-lwtheme {
  list-style-image: var(--timezones-icon) !important;
}

/* Status bar */

%ifdef XP_MACOSX
statusbar {
  padding-right: 14px;
}

.statusbar-resizerpanel {
  display: none;
}
%else
window[sizemode="maximized"] statusbarpanel.statusbar-resizerpanel {
  visibility: collapse;
}
%endif

/* Status panel */

statuspanel {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#statuspanel");
  position: fixed;
  margin-top: -3em;
  left: 0;
  z-index: 20;
  max-width: 50%;
  transition: opacity 100ms ease-out;
}

statuspanel:-moz-locale-dir(ltr)[mirror],
statuspanel:-moz-locale-dir(rtl):not([mirror]) {
  left: auto;
  right: 0;
}

statuspanel[label=""] {
  opacity: 0;
  pointer-events: none;
}

.statuspanel-inner {
  height: 3em;
  -moz-box-align: end;
}
